# .env

#Database
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432
DB_NAME=media_tracker
DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
ALEMBIC_DATABASE_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
TEST_DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:5433/${DB_NAME}_test

#Tokens
SECRET_KEY=your_secret_key

#Redis
REDIS=redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:${REDIS_PORT}/0
